# Authentication
JWT_SECRET="9dfs88fd9fuads8"

# General
BASE_URL="http://localhost:3000"
PORT=4000
NODE_ENV=development

# Database (Used by Postgres and API)
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=kan_todo

# Storage (S3 / LocalStack)
S3_ENDPOINT="http://localhost:4566"
S3_REGION="us-east-1"
S3_ACCESS_KEY_ID="test"
S3_SECRET_ACCESS_KEY="test"
S3_BUCKET_NAME="kan-todo-bucket"

# Frontend
NEXT_PUBLIC_API_URL="http://localhost:4000"
